#videoBG {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  background-color: rgba(0, 0, 0, 0.459);
  z-index: -2;
}
@media (min-aspect-ratio: 16/9) {
  #videoBG {
    width: 100%;
    height: auto;
  }
}
@media (max-aspect-ratio: 16/9) {
  #videoBG {
    width: auto;
    height: 100%;
  }
}
@media (max-width: 767px) {
  #videoBG {
    display: none;
  }
}
.video-container video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100vh;
  height: 100vh;
}

@media only screen and (min-width: 768px) {
  .video-container video {
    width: 100vw;
    height: auto;
  }
}
.menu {
  width: 42%;
  float: right;
  list-style: none;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.637);
}
.menu li {
  width: 100px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  float: left;
  color: white;
}
.menu li:hover {
  background: grey;
}

.menu li a {
  text-decoration: none;
  padding: 10px;
  font-family: "Lucida Sans", "Lucida Sans Regular";
  color: white;
  text-transform: uppercase;
}
.banner-text {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.banner-text h2 {
  color: white;
  font-size: 70px;
  font-family: "Lucida Sans", "Lucida Sans Regular";
}
.banner-text p {
  color: white;
  font-size: 30px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.banner-text a {
  top: 30%;
  color: white;
  font-size: 40px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.banner-text:hover a {
  background-color: teal;
}
